*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222;
}
.main{
    width: 40%;
    background-color:slateblue;
    color: #fff;
    margin: 3rem auto 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1.5rem;
}
.card{
    border-radius: 1.5rem;
    padding:2rem 2rem;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: space-around
}

.search input{
    border: 0;
    outline: 0;
    background-color: #fff;
    padding: 0.7rem;
    border-radius: 1rem;
    height: 3rem;
    margin: 0.2rem;
    width: 90%;
    color: rgb(71, 70, 70);
    font-size: 0.8rem;
}

.icon{
    background-color: #fff;
    border-radius: 100%;
    color: #222;
    width: 2rem;
    height: 2rem;
    padding-top: 0.5rem;
    margin-left: 0.3rem;
    cursor: pointer;
}

.weather{
    width: 90%;
    color: #fff;
    padding:4rem 4rem;
    text-align: center;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cols{
    margin: 0.4rem;
    padding: 0.8rem;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ic{
    margin: 0.6rem;
    font-size: 1.5rem;
}
.gg{
    font-size: 2rem;
}


.hidden{
    display: none;
}